<div class="total-capacity">
  <div class="total-capacity__bars" [style.width.%]="config.allocated | percentOf: config.total">
    <div #UsedCapacity class="used-capacity" [style.width.%]="config.used | percentOf: config.allocated">
      <span #UsedCapacityTitle [class.hide]="hideUsedCapacityTitle" class="used-capacity__title capacity-title"> {{config.used | bytesTo: config.usedPrecision}}</span>
    </div>
    <div #AllocatedCapacity class="allocated-capacity">
      <span #AllocatedCapacityTitle [class.hide]="hideAllocatedCapacityTitle" class="allocated-capacity__title capacity-title"> {{config.allocated | bytesTo: config.allocatedPrecision}}</span>
    </div>
  </div>
</div>
<span class="total-capacity__title capacity-title">Total  {{config.total | bytesTo: config.totalPrecision}}</span>
