$bar-h: 20px;
$border-r: 25px;

:host {
  display: block;
  width: 100%;
  font-size: 12px;
  text-align: center;
}

.total-capacity__bars {
  display: flex;
  width: 100%;
}

.allocated-capacity {
  flex-grow: 1;
  border-top-right-radius: $border-r;
  border-bottom-right-radius: $border-r;
}

.capacity-title {
  white-space: nowrap;
  padding: 0 10px;
}

.total-capacity {
  color: white;
  border-radius: $border-r;
  overflow: hidden;
  height: $bar-h;
  background-color: gray;
}

.used-capacity, .allocated-capacity {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.used-capacity {
  height: $bar-h;
  background-color: red;
}

.allocated-capacity {
  height: $bar-h;
  background-color: green;
}

.hide {
  opacity: 0;
}
